html,
body{
    font-family: Bahnschrift;
}
div {
  padding: 10px 0;
}
#banner-title{
    font-size: 40px;
    font-style: normal;
    margin: auto;
    text-align: right;
    width: fit-content;
    padding-top: 40px;
    width: 100%;
    /*
    background: url(https://vectr.com/tmp/b5wFtuAH4/a3Ozpg7Zwm.svg?width=640&height=640&select=a3Ozpg7Zwmpage0);
    */
    height: 100px;
    margin-top: 20px;
}
.selection-btn-right{
  margin: 0;
  padding: 5px;
  margin-left: auto;
  color:white;
  background-color:rgb(4, 50, 102);
  height: 44px;
  width: 100px;
  left: 50%;
  font-size: medium;
}

.selection-btn{
  padding: 5px;
  color:white;
  background-color:rgb(4, 50, 102);
  border: 1px solid whitesmoke;
  height: 44px;
  width: 100px;
  margin: auto;
  left: 50%;
  font-size: medium;
}

/*.banner-image{
  width: 100%;
  background-image: url(https://www.microsoft.com/en-us/research/wp-content/uploads/2017/06/Dark-Blue-Header.jpg);
  height: 100px;
}
*/