html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
  background-color: rgb(255, 255, 255);
  padding: 20 15px;
}

a{
  color: rgb(48, 48, 53);
  background-color: white;
  text-decoration: none;
  transition: color .4s;
}

a:hover{
  color: rgb(0, 195, 255);
}

.navitem{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  align-items: flex-end;
}

.Name{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
