html,

/* General Formatting */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bodyContainer{
  margin-top: 100px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.imageContainer{
  display:flex;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  width: -moz-fit-content;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Index Items */
.introPhotoContainer{
  display:flex;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  width: -moz-fit-content;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.introPhotos{
  border-radius: 15px;
  margin: 30px;
}

.indexParagraph{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 40px;
  font-size: 20px;
  margin: auto;
  width: 70%;
  line-height: 1.8;
}

/* About Items */
.myFace{
  margin-left: 40px;
}

.aboutParagraph{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 40px;
  font-size: 20px;
  margin: auto;
  width: 70%;
  line-height: 1.8;
}

/* Contact Items */
.logo{
  margin-left: 20px;
  margin-right: 20px;
}

.contactIntroduction{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-bottom:20px;
  margin-left: 400px;
  width: auto;
}

/* Link formatting */
a{
  color: black;
  text-decoration: none;
  transition: color .4s;
}

a:hover{
  color: rgb(0, 164, 214);
}

/* Navigation formatting */
.navitem{
  padding: 10px 10px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(199, 199, 199);
}

.name{
  padding: 10px 10px 10px 50px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
}

/* Desktop Navigation */
@media all and (min-width: 800px){
  .navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    align-items: flex-end;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0 5px 8px 0 rgb(199, 199, 199);
    -moz-box-shadow: 0 5px 8px 0 rgb(199, 199, 199);
    box-shadow: 0 5px 8px 0 rgb(199, 199, 199);
  }

  .name{
    flex: 6;
  }

  .navitem{
    flex: 1;
    position: relative;
    display: block;
    width: auto;
  }
}

/*Mobile Navigation*/
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar li a{
  display: block;
  padding: 15px 5px;
}

.toggle{
  font-size: 20px;
  order: 1;
}