html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
  background-color: rgb(255, 255, 255);
  padding: 20 15px;
}

a{
  color: rgb(48, 48, 53);
  background-color: white;
  text-decoration: none;
  transition: color .4s;
}

a:hover{
  color: rgb(2, 179, 233);
}

.navitem{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.Name{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.Name:hover{
  color: rgb(48, 48, 53);
}

/*Mobile Navigation*/
.menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.menu li a{
  display: block;
  padding: 15px 5px;
}

.toggle{
  font-size: 20px;
  order: 1;
}

.navitem{
  font-size: 20px;
  order: 2;
}

@media all and (min-width: 960px){
  .menu{
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .Name{
    order: 0;
  }
  .navitem{
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
}
