html,
body{
  font-family: Georgia;
}

nav{
  background-color: rgb(0, 0, 121);
  padding: 0 15px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  background-color: rgb(4, 116, 131);
}

.navitem{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Name{
  font-family: Helvetica;
  padding-top: 10px;
  padding-bottom: 10px;
}
