html,
body{
    font-family: Bahnschrift;
}
div {
  padding: 10px 0;
}
#banner-title{
    font-size: 40px;
    font-style: normal;
    margin: auto;
    text-align: right;
    width: fit-content;
    padding-top: 40px;
    width: 100%;
    /*
    background: url(https://vectr.com/tmp/b5wFtuAH4/a3Ozpg7Zwm.svg?width=640&height=640&select=a3Ozpg7Zwmpage0);
    */
    height: 100px;
    margin-top: 20px;
}
.selection-btn-right{
  margin: 0;
  padding: 5px;
  margin-left: auto;
  color:white;
  background-color:rgb(4, 50, 102);
  height: 44px;
  width: 100px;
  left: 50%;
  font-size: medium;
}

.selection-btn{
  padding: 5px;
  color:white;
  background-color:rgb(4, 50, 102);
  border: 1px solid whitesmoke;
  height: 44px;
  width: 100px;
  margin: auto;
  left: 50%;
  font-size: medium;
}

.navbar{
  width: 100%;
  background-color: rgb(4, 50, 102);
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.navbar a:hover{
  background-color: rgb(0, 162, 255);
  color: black;
}

.navbar a.active{
  background-color: cadetblue;
}

@media screen and (max-width: 500px){
  .navbar a{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*.banner-image{
  width: 100%;
  background-image: url(https://www.microsoft.com/en-us/research/wp-content/uploads/2017/06/Dark-Blue-Header.jpg);
  height: 100px;
}
*/