html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

nav{
  background-color: rgb(255, 255, 255);
}

a{
  color: rgb(48, 48, 53);
  background-color: white;
  text-decoration: none;
  transition: color .4s;
}

a:hover{
  color: rgb(2, 179, 233);
}

.navitem{
  padding: 10px 10px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.Name{
  padding: 10px 10px 10px 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

@media all and (min-width: 960px){
  .navbar{
    align-items: flex-end;
    flex-wrap: nowrap;
    background: none;
    -webkit-box-shadow: 0 4px 6px 0 #999;
    -moz-box-shadow: 0 4px 6px 0 #999;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  }

  .Name{
    flex: 6;
  }

  .navitem{
    flex: 1;
    position: relative;
    display: block;
    width: auto;
  }
}

.Name:hover{
  color: rgb(48, 48, 53);
}

/*Mobile Navigation*/
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar li a{
  display: block;
  padding: 15px 5px;
}

.toggle{
  font-size: 20px;
  order: 1;
}

.navitem{
  font-size: 20px;
  order: 2;
}